<a href="https://colab.research.google.com/github/JayMoya/FlyHighData_NEW/blob/main/AIDA2_Lab1_FlyHighData_Florentino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TASK 1**

In [ ]:
import pandas as pd

In [ ]:
#Task 1 
#variable declarations can be found on the csv file 
flyhigh_data = pd.read_csv("https://raw.githubusercontent.com/JayMoya/FlyHighData_NEW/main/FlyHighData.csv")

data = flyhigh_data.head() 
data

   ID   Last Name First Name   Prelim Grade  Midterm Grade  Final Grade
0   1      Arcera     Edhnaer          89.9           90.9         91.9
1   2  Florentino      Angelo          89.7           91.2         91.8
2   3    Lacambra       Jalen          88.1           93.1         91.3
3   4        Moya       Aljay          89.3           91.3         89.1

**TASK 2**

In [ ]:
import pandas as pd
import os


df = pd.read_csv("https://raw.githubusercontent.com/JayMoya/FlyHighData_NEW/main/FlyHighData.csv") #class_grades CSV file to python using pandas

a = df.columns

class_grades_list = df.to_dict('records') #list of dictionaries where each dict is a row
class_grade_sheet = {class_grades_row['ID']: class_grades_row for class_grades_row in class_grades_list} #creating dict from list

In [ ]:
import statistics

def get_grades(class_grade_sheet):
    class_grade_sheet_semestral = {}
    for student_id, student_grade_sheet in class_grade_sheet.items():
        
        total = student_grade_sheet['Prelim Grade'] + student_grade_sheet['Midterm Grade'] + student_grade_sheet['Final Grade'] #computing grades from prelims, midterm and finals
        semestral_grade = total/3 #average grade from prelims, midterm and finals
        student_grade_sheet.update({'semestral_grades': semestral_grade})

        class_grade_sheet_semestral.update({student_id: student_grade_sheet})

    return class_grade_sheet_semestral

def get_class_stats(class_grade_sheet):

    highest_prelim = 0
    lowest_prelim = 0
    highest_midterm = 0
    lowest_midterm = 0
    highest_final = 0
    lowest_final = 0
    highest_semestral = 0
    lowest_semestral = 0
    mean_grade = 0
    mode_grade = 0
    median_grade = 0
    standard_deviation_grade = 0
    
    highest_prelim = max([class_grade_sheet['Prelim Grade'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    lowest_prelim = min([class_grade_sheet['Prelim Grade'] for student_id, class_grade_sheet in class_grade_sheet.items()])

    highest_midterm = max([class_grade_sheet['Midterm Grade'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    lowest_midterm = min([class_grade_sheet['Midterm Grade'] for student_id, class_grade_sheet in class_grade_sheet.items()])

    highest_final = max([class_grade_sheet['Final Grade'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    lowest_final = min([class_grade_sheet['Final Grade'] for student_id, class_grade_sheet in class_grade_sheet.items()])

    highest_semestral = max([class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    lowest_semestral = min([class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()])

    mean_grade = statistics.mean([class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    mode_grade = max(set([class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()]), key=[class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()].count)
    median_grade = statistics.median([class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    standard_deviation_grade = statistics.stdev([class_grade_sheet['semestral_grades'] for student_id, class_grade_sheet in class_grade_sheet.items()])
    
    return{
        'highest_prelim' : highest_prelim,
        'lowest_prelim' : highest_prelim,
        'highest_midterm' : highest_midterm, 
        'lowest_midterm' : lowest_midterm,
        'highest_final' : highest_final,
        'lowest_final' : lowest_final,
        'highest_semestral' : highest_semestral,
        'lowest_semestral' : lowest_semestral,
        'mean_grade' : mean_grade,
        'mode_grade' : mode_grade,
        'median_grade' : median_grade,
        'standard_deviation_grade' : standard_deviation_grade
    }

In [ ]:
class_grade_sheet_semestral = get_grades(class_grade_sheet) #This will print The prelim, midterms, and finals grades of each student
pd.DataFrame(class_grade_sheet_semestral) #This will also print the semestral grade of each student

                        1           2          3      4
ID                      1           2          3      4
Last Name          Arcera  Florentino   Lacambra   Moya
First Name        Edhnaer      Angelo      Jalen  Aljay
Prelim Grade         89.9        89.7       88.1   89.3
Midterm Grade        90.9        91.2       93.1   91.3
Final Grade          91.9        91.8       91.3   89.1
semestral_grades     90.9        90.9  90.833333   89.9

In [ ]:
finalresult = get_class_stats(class_grade_sheet)

print(finalresult)

{'highest_prelim': 89.9, 'lowest_prelim': 89.9, 'highest_midterm': 93.1, 'lowest_midterm': 90.9, 'highest_final': 91.9, 'lowest_final': 89.1, 'highest_semestral': 90.90000000000002, 'lowest_semestral': 89.89999999999999, 'mean_grade': 90.63333333333333, 'mode_grade': 90.83333333333333, 'median_grade': 90.86666666666666, 'standard_deviation_grade': 0.48989794855664126}

**TASK 3**

**1.1**

Optimize get_grades() by eliminating for loops in your function.

Create a function named get_similar_students()

In [ ]:
import numpy as np

def get_grades(class_grade_sheet):
    class_grade_sheet_semestral = {}
    class_grades_row_df = pd.DataFrame(list(class_grade_sheet.values()))
    class_grades_row_df['Semestral Grades'] = class_grades_row_df.apply(lambda row: (row['Prelim Grade'] + row['Midterm Grade'] + row['Final Grade'])/3, axis=1)
    class_grade_sheet_semestral = class_grades_row_df.set_index('ID').T.to_dict()
    return class_grade_sheet_semestral

def get_similar_students(class_grade_sheet_1, class_grade_sheet_2):
    class_grades_row_df_1 = pd.DataFrame(list(class_grade_sheet.values()))
    class_grades_row_df_2 = pd.DataFrame(list(class_grade_sheet.values()))
    class_grades_row_df_1.columns = class_grades_row_df_1.columns.str.strip()
    class_grades_row_df_2.columns = class_grades_row_df_2.columns.str.strip()

    common_names = np.intersect1d(class_grades_row_df_1['First Name'] + ' ' + class_grades_row_df_1['Last Name'], class_grades_row_df_1['First Name'] + ' ' + class_grades_row_df_1['Last Name'])
    return common_names

In [ ]:
class_grade_sheet_semestral = get_grades(class_grade_sheet) #This will print The prelim, midterms, and finals grades of each student
pd.DataFrame(class_grade_sheet_semestral) #This will also print the semestral grade of each student

                        1           2          3      4
Last Name          Arcera  Florentino   Lacambra   Moya
First Name        Edhnaer      Angelo      Jalen  Aljay
Prelim Grade         89.9        89.7       88.1   89.3
Midterm Grade        90.9        91.2       93.1   91.3
Final Grade          91.9        91.8       91.3   89.1
Semestral Grades     90.9        90.9  90.833333   89.9

**2.2**

inputs: two (2) class DataFrames

outputs: list of common student numbers

In [ ]:
xl2 = pd.ExcelFile("/content/Student_numbers.xlsx")

df2 = xl2.parse('Sheet1')
Sheet1 = df2.to_dict('list')
print(Sheet1)

df3 = xl2.parse('Sheet2', header=None)
Sheet2 = df3.to_dict('list')
print(Sheet2)

{'ID': [1.0, 2.0, 3.0, 4.0], 'Student_number1': [201910958.0, 201901278.0, 201801309.0, 202106303.0]}
{0: ['ID', 1.0, 2.0, 3.0, 4.0], 1: ['Student_number2', 201912250.0, 201597535.0, 202074526.0, 202045628.0]}

**TASK 4**

**2.2**

Create a method named get_failed() wherein it will create a list of all the failed students in the class

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

students = ["Edhnaer", "Jalen", "Aljay", "Angelo"]
student_gpa = [50.9, 65, 40.6, 68.9]
student_fail = 69.9

students_dict_comp = {name:[age,gpa] for name, age, gpa in zip(students, student_ages, student_gpa)}
print(students_dict_comp)

def get_failed (students_dict_comp): 
    for student in students_dict_comp:
        #  print(student) # Edhnaer, Jalen, Aljay, Angelo
        student_gpa = students_dict_comp[student][1]
        if student_gpa >= student_fail:
            print(student, " passed")
        else:
            print(student, " failed")
get_failed(students_dict_comp)

{'Edhnaer': [24, 50.9], 'Jalen': [25, 65], 'Aljay': [22, 40.6], 'Angelo': [20, 68.9]}
Edhnaer  failed
Jalen  failed
Aljay  failed
Angelo  failed